h1 {

    
    font-family: 'Poppins', sans-serif;
    font-size: 200px;
    text-align: center;
    color: black;



}

a:link {
    text-align: center;
    color: black;
    padding-top: 10px 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    padding-left: 200px;
}

/* visited link */
a:visited {
    text-align: center;
    color: #EF0054;
    padding-top: 10px 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

/* mouse over link */
a:hover {
   text-align: center;
    color: #00aeef;
    padding-top: 10px 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

/* selected link */
a:active {
    text-align: center;
    color: black;
    padding-top: 10px 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}