h1 {
       color: #313131; 
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    margin-top: 60px;
    margin-left: 660px;
    margin-bottom: -30px;
    line-height: 189px;
}

h2{
    color: #313131; 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
   padding-left: 670px;
    padding-bottom: 89px;
    margin-left: 0px;
    
}
img {
    
    margin-top: -920px;
    
    
}