h1{
    
    font-family:'Poppins', 'sans-serif';
    font-size: 150px;
    padding-top: 100px;
    color: white;
    text-align: center;
}
h2{
    
    font-family:'Poppins', 'sans-serif';
    font-size: 50px;
    color: white;
   text-align: center;
}
h3{
    font-family: 'Poppins', 'sans-serif';
    font-size: 100px;
    color: #FFB255;
       padding-left: 30px;
    text-align: center;
   
}

h4{
    font-family: 'Poppins', 'sans-serif';
    font-size: 35px;
    color: black;
       padding-left: 30px;
   
}
h5{
    
    font-family:'Poppins', 'sans-serif';
    font-size: 150px;
    color: #FFB255;
    text-align: center;
    
}
h6{
     font-family: 'Poppins', 'sans-serif';
    font-size: 60px;
    padding-top: 100px;
    padding-left: 20px;
    color: white;
}
h7{  
    
    font-family:'Poppins', 'sans-serif';
    font-size: 50px;
    color: white;
   text-align: center;
    
}
h8{
     font-family:'Poppins', 'sans-serif';
    font-size: 30px;
    color: white;
    text-align: center;
}
p{
    font-family: 'Poppins', 'sans-serif';
    font-size: 30px;
    color: black;
    padding-left: 700px;
}


em{
    color:  #FFB255;
    font-weight: bold; 
   
    text-align: center;
}

.nhimg{
    padding-right: 50px;
    padding-top: 70px;
}

.posterimgs{
    padding-left: 30px;
}

.fanimg{
    padding-right: 50px;
    padding-bottom: 10px;
}
.example_b {
    font-family: 'Poppins', 'sans-serif';
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #FFB255;
    padding: 40px;
    border-radius: 300px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_b:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 5);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.1)
}

.example_a {
   font-family:'Poppins', 'sans-serif';
    font-size: 100px;
color: white;
text-transform: uppercase;
text-decoration: none;
background: black;
padding:40px;
border-radius: 300px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
.example_a:hover {
text-shadow: 0px 0px 12px rgba(255, 255, 255,12);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,1.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
      transform: scale(0.9)
}


.example_c {
    font-family: 'Poppins', 'sans-serif';
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #FFB255;
    padding: 40px;
    border-radius: 300px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 5);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    transform: scale(0.9);
}


* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
    margin-right: 20px;
    margin-left: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 23px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* flex */
.flex1 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex1:hover img {
  transform: scale(1.1);
    
}


/* flex */
.flex2 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex2:hover img {
  transform: scale(1.1);
    
}


/* flex */
.flex3 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex3:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex4 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex4:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex5 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex5:hover img {
  transform: scale(1.1);
    
}


/* flex */
.flex6 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex6:hover img {
  transform: scale(1.1);
    
}


/* flex */
.flex7 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex7:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex8 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex8:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex9 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex9:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex10 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex10:hover img {
  transform: scale(1.1);
    
}


/* flex */
.flex11 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex11:hover img {
  transform: scale(1.1);
    
}

/* flex */
.flex12 img {
  transition: transform 0.6s ease;
     border: solid;
    border-color: #FFB255;
    border-width: 6px;
}

.flex12:hover img {
  transform: scale(1.1);
    
}
.rian{
    padding-left: 20px;
}


/*navigation*/

.menu {

    display: inline-block;
    position: fixed;
    top:10px;
   left: 480px;
}

.circle {
    background-color: #FFFFFF;
    border: 2px black solid;
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right:60px;
}
.circle:hover{
    background-color:#FFB255; 
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 5);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    transform: scale(1.2);
}


#lastcircle{
    margin-right:0px;
}

#selected {
    background-color: #FFB255;
    
}
#selecter:hover{
    
}

.line{
    width:100%;
    height:10px;
    margin-top:-5px;
    background: white
        ;
    z-index: -1;
    position: absolute;
    top:50%;
}
.vid{
    padding-left: 300px;
}


