/*header*/

body {
	margin: 0;
	background: #222;
	font-family: 'Poppins', sans-serif;
	

}

.container {
	width: 80%;
	margin: 0 auto;
    text-align: center;
    
}

header {
  background: #FF4F25;
    
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {    
    
    float: center;
    height: 21%;
     width:32%;   
  padding: 10px 0;
}

nav { 
    margin-bottom: 40px;
    margin-top: 0px;
  float: center;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

nav li {
    
  display: inline-block;

  margin-left: 150px;
  padding-top: 63px;

  position: relative;
}

nav a {
   
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #FFFFFF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFFFFF;

  position: absolute;
  top: 50px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/*Portfolio*/
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 140px;
    text-align: center;
    color: white;
    padding-top: -60px;
}
body{
  margin: 0;
  padding: 0;
  background: #222;
}


    
}
.middle{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*Contact Me*/
ul{
    list-style: none;
    display: inline;
  padding: 0 0 0 400px; 
    
   
}


h1 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 140px;
    text-align: center;
}

p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
}
h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600px;
    font: 38px;
    text-align: center;
    
}

