h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px
}

h2{
    font-family: 'Lato', sans-serif;
    font-size: 90px
    padding: 0px
    border: 0px;
    margin: 0px
  
    
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 50px
    padding: 0px
    border: 0px;
    margin: 0px
  
    
}

body{
    
    background-color: #FFBD1F;
    