h1 {
    color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 250px;
    padding-bottom: 20px;
    margin-bottom: -90px;
}
h2 {
    color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 50px;

}

p {
    color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 15px;
}