/*header*/

body {
	margin: 0;
	background: #222;
	font-family: 'Poppins', sans-serif;
	

}

.container {
	width: 80%;
	margin: 0 auto;
    text-align: center;
    
}

header {
  background: #FF4F25;
    
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {    
    
    float: center;
    height: 21%;
     width:32%;   
  padding: 10px 0;
}

nav { 
    margin-bottom: 40px;
    margin-top: 0px;
  float: center;
}

nav ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

nav li {
    
  display: inline-block;

  margin-left: 150px;
  padding-top: 63px;

  position: relative;
}

nav a {
   
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: #FFFFFF;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #FFFFFF;

  position: absolute;
  top: 50px;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/*CHARACTER DESIGN STUFF CHARACTER STUFF CHARACTER STUFF*/


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 110px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}
h2{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #FFFFFF; 
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}
body {
    margin: 0;
    margin-left: 0;
    background-color: #CB2C2A;
    padding-bottom: 200px;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 25px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 23px 0 0 23px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  background-color: #222;
  padding: 15px 16px 15px;
  color: white;
letter-spacing: 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
    padding-bottom: 0px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*ANIMATION BUTTON*/
.btn{
 top: auto;
  position: relative;
  text-align: center;
  display: block;
  color: white;
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 0px 0;
  border: 5px solid #9B1212;
  padding: 30px 30px;
   
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #9B1212;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}


.btn3::before{
  width: 190%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
    
}
.btn3:hover::before{
    width: 50%;
  height: 630%;
    
}
   