html {
  color: black;
}

body {
  color: red;
  font-family: courier, monospace;
}
p {
  color: #00ff00;
  line-height: 200px;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
}
.orangetext {
  color: #E98A10;
}
h1 {
  font-family: 'times new roman', serif;
  color: #0000ff;
  font-size: 124px;
}
h2 {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 50px;
  margin-left: 200px;
  line-height: 20px;
}
a:link {
  color: #0e0e0e;
}
a:hover {
  text-decoration: line-through;
}
a:active{
  color: red;
}
a:visited{
  color: #e0e0e0;
  text-decoration: line-through;
}
