h1 {
    
   color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 90px;
    padding-top: 0px;
     word-spacing: 40px;
    margin-top: -180px;
}


h2 {
    
  color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 860px;
    font-size: 60px;
}

    h3 {
       color: #313131; 
    font-family: 'Poppins', sans-serif;
        
    }
h4 {
    color: #00aeff;
    padding-top: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 90px;
}

body{
    
    
    background-position: 80% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    

}
   
    
a{
    
    padding-left: 860px;
    line-height: 200px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 50px;
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: #000;
    padding-top: 10px 10%;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color: #000;
}

/* selected link */
a:active {
  color: blue;
}


    
}