h1 {
    color: #313131; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 250px;
    padding-bottom: 20px;
    margin-bottom: -90px;
}

circle {
  fill: red;
}

/* PRESENTATIONAL STYLES */
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

svg {
  width: 200px;
}