
#lineOne{
    color:pink;
}

#lineTwo{
    font-size: 40px;
}
#lineThree{
/*    font-family: 'Gelasio', serif;*/
    font-size: 30px;
    color: darkmagenta;
    background-color:aqua;
}

#lineFour{
    letter-spacing: 20px;
}
#lineFive{
    outline: 60px dotted red;
}
#lineSix{
    font-size: 60px;
    outline-style: solid;
    outline-width: thick;
    outline-color: darkmagenta;  
}
#lineSeven{
    text-decoration: line-through;
}
#lineEight{
    text-shadow: 2px 2px #f98090;
    
}
#lineNine{
    font-size: 40px;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: 2px 2px #ff0000;
}
#lineTen {
    border-style: solid;
    border-left-style: dotted;
    border-bottom-color: aqua
}
#lineEleven {
    
}